{% extends sonata_block.templates.block_base %}
{% use 'TasksBundle:Sonata:part_tasks_table.html.twig' %}

{% block block %}
<div class="box" id="block-{{ block_id }}">
    <div class="box-header">
        {% block tasks_block_header %}
        <h4 class="box-title">{{ settings.title|trans }}</h4>
        {% endblock %}
    </div>
    <div class="box-body">
        {% block tasks_table_before '' %}
        
        {{ block('tasks_block_table') }}
        
        {% block tasks_table_after '' %}
    </div>
    {% block tasks_block_scripts '' %}
</div>
{% endblock %}